/* search */
.search {

}

.search__modal-toggle {

}

.search__modal {

}

/* search-modal */

.search-modal {

}

.search-model__content {

}

.search-model__search {

}

.search-model__suggestions {

}

.search-model__form {

}

.search-modal__modal-toggle {
    
}

.search-modal__toggle {
    /* only for JavaScript */
}

/* search-modal */

.search-form {

}

.search-form__form {

}

.search-form__input {

}

.search-form__label {

}

.search-form__button {

}


.search {
    /* Display */
    position: relative;

    /* Box-model */
    height: min-content;
}

.search .suggestions {
    /* Display */
    position: absolute;
}

.search .suggestions ul {
    /* Box model */
    margin: 0;
    padding: 0;

    /* misc */
    list-style: none;
}