.search {
    /* Display */
    position: relative;

    /* Box-model */
    height: min-content;
}

.search .suggestions {
    /* Display */
    position: absolute;
}

.search .suggestions[data-state="hidden"] {
    /* Display */
    display: none;
}

.search .suggestions .suggestion:hover{
    /* Display */
    cursor: pointer;
}

.search .suggestions .suggestion[data-state="selected"] .suggestion__title{
    font-weight: bold;
}

.search .suggestions ul {
    /* Box model */
    margin: 0;
    padding: 0;

    /* misc */
    list-style: none;
}