.searchBar {
}

.searchBar summary {
    list-style: none;
}

.searchBar__content {
    position: absolute;
    width: 100vw;
    top: 0px;
    left: 0px;

    display: flex;

    background-color: white;
    border-bottom: 1px solid gray;
}