.productCardView {
    width: 200px;
    height: 400px;

    padding: 10px;
    margin: 25px;
}

.productCardView__Image {
    height: 80%;
}

.productCardView__Image img {
    width: 100%;
}

.productCardView__info {
    height: 20%;
    display: flex;
    justify-content: space-between;
}