.imageViewerMagnifier .imageViewer__inner {
    position: relative;
}

.imageViewerMagnifier .imageViewer__image-container {
    width: max-content;
}

.imageViewerMagnifier .imageViewer__image-container img {
    display: block;
}

.ImageViewerMagnifier__outlet {
    overflow: hidden;
    position: relative;
}

.ImageViewerMagnifier__outlet img {
    display: block;
    position: absolute;
}

.imageViewerMagnifier .imageViewer__tracer {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* Visual */
    background-color: black;
    opacity: 0.6;

    /* Misc */
    pointer-events: none;
}

